<ion-view title="Contact Us" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="contactUs-card21">
      <div class=" item item-image">
        <img src="img/WxWGpbloSkClnuH551Y5_saturn0002.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left" id="contactUs-list-item9">
        <i class="icon ion-ios-telephone"></i>+60 11 2020 6015</ion-item>
      <ion-item class="item-icon-left" id="contactUs-list-item11" href="mailto:rapturecreations@yahoo.com">
        <i class="icon ion-email"></i>rapturecreations@yahoo.com</ion-item>
      <ion-item class="item-icon-left" id="contactUs-list-item12">
        <i class="icon ion-link"></i>rapturecreations.wordpress.com</ion-item>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.0325122847375!2d101.58439281426287!3d3.0859975543994183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4d05612b0fbb%3A0x8ff9c4a75291f720!2sWORQ+Subang!5e0!3m2!1sen!2smy!4v1548472404924"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    <div id="contactUs-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Unit 2-1, Level 2, The Podium, Tower 3, UOA Business Park No, 1, Jalan Pengaturcara U1/51a, Seksyen U1, 40150 Shah Alam, Selangor</p>
    </div>
    <a href-inappbrowser="https://goo.gl/maps/R9RV3ohE2JR2" id="contactUs-button27" class="button button-positive button-block">OPEN IN WAZE</a>
  </ion-content>
</ion-view>