<ion-view title="CSS" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/hvOaGZ9HTqWPmpyANESu_saturn0001.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/0afZj1G0BIE?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="cSS-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h3 id="cSS-heading3" style="color:#000000;">CSS</h3>
    <ion-list id="cSS-list4">
      <ion-item class="item-icon-left" id="cSS-list-item6">
        <i class="icon ion-ionic"></i>Item</ion-item>
    </ion-list>
    <div id="cSS-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CSS</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div id="cSS-button-bar4" class="button-bar">
      <a ui-sref="javascript()" id="cSS-button21" class="button button-dark button-block">&lt;</a>
      <div style="margin-right:-20px;">
        <button id="cSS-button22" style="left:-10px;" class="button button-dark button-full">CSS</button>
      </div>
      <a ui-sref="homePage()" id="cSS-button23" class="button button-dark button-block">&gt;</a>
    </div>
  </ion-content>
</ion-view>