<ion-view title="Home Page" hide-back-button="true" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/9dk4omMwQhKrbyBiWQim_saturn0002.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="homePage-list1">
      <ion-item class="item-thumbnail-left item-icon-right positive" id="homePage-list-item1" ui-sref="hTML()">
        <img src="img/brIC8axYSSeZmKNimQM6_saturn0003.jpg">
        <h2positive>HTML
          <p>The structure of web pages</p>
          <i class="icon ion-android-apps"></i>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right royal" id="homePage-list-item2">
        <img src="img/L6AYadZxTBlJjYiFbMJR_saturn0004.jpg">
        <h2royal>Javascript
          <p style="white-space:normal;">Javascript is a language that is also characterized as dynamic, weakly types, prototype-based and multi-paradigm.</p>
          <i class="icon ion-android-apps"></i>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right dark" id="homePage-list-item3">
        <img src="img/NI13Z1kRMGRgABzODOBe_saturn0001.jpg">
        <h2dark>CSS
          <p style="white-space:normal;">Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.</p>
          <i class="icon ion-android-apps"></i>
        </h2dark>
      </ion-item>
    </ion-list>
    <a ui-sref="contactUs()" id="homePage-button1" class="button button-dark button-block">Contact Us</a>
  </ion-content>
</ion-view>