<ion-view title="HTML" hide-nav-bar="true" id="page2">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/YcZVMT0dRCGr9lJ6BSbE_saturn0003.jpg" style="display: block; width: 100%; height: auto; margin-left: auto;">
    </div>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/bWPMSSsVdPk?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="hTML-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h3 id="hTML-heading1" style="color:#000000;">What is HTML?</h3>
    <ion-list id="hTML-list2">
      <ion-item class="item-icon-left" id="hTML-list-item4">
        <i class="icon ion-ionic"></i>HTML</ion-item>
    </ion-list>
    <div id="hTML-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">HTML</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div id="hTML-button-bar2" class="button-bar">
      <a ui-sref="homePage()" id="hTML-button12" class="button button-dark button-block">&lt;</a>
      <button id="hTML-button13" class="button button-dark button-full">HTML</button>
      <a ui-sref="javascript()" id="hTML-button14" class="button button-dark button-block">&gt;</a>
    </div>
  </ion-content>
</ion-view>