<ion-view title="Javascript" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/VdSon0U9TlmgyjNLQTw9_saturn0004.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/Ukg_U3CnJWI?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="javascript-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h3 id="javascript-heading2" style="color:#000000;">Javascript</h3>
    <ion-list id="javascript-list3">
      <ion-item class="item-icon-left" id="javascript-list-item5">
        <i class="icon ion-ionic"></i>Item</ion-item>
    </ion-list>
    <div id="javascript-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Javascript</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div id="javascript-button-bar3" class="button-bar">
      <a ui-sref="hTML()" id="javascript-button18" class="button button-dark button-block">&lt;</a>
      <div style="margin-right:-20px;">
        <button id="javascript-button19" style="left:-10px;" class="button button-dark button-full">Javascript</button>
      </div>
      <a ui-sref="cSS()" id="javascript-button20" class="button button-dark button-block">&gt;</a>
    </div>
  </ion-content>
</ion-view>