<ion-view title="Welcome Page" hide-nav-bar="true" id="page6">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 320px; height: 32px;"></div>
    <h1 id="welcomePage-heading12" style="color:#000000;text-align:center;">Welcome</h1>
    <div class="spacer" style="width: 320px; height: 45px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider5" delegate-handle="slider5" id="welcomePage-slider5" style="width:100%;height:200px;">
      <ion-slide-page id="welcomePage-slide223" style="background:url(&quot;img/pWgrQzPwQPauj0w751wl_person0001.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="welcomePage-slide224" style="background:url(&quot;img/57MB3tHTSRSINrgnMdYs_person0003.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 320px; height: 40px;"></div>
    <a ui-sref="homePage()" id="welcomePage-button28" class="button button-positive button-block">Enter Here!</a>
  </ion-content>
</ion-view>